@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Schoolbell&display=swap");
* {
  box-sizing: border-box;
}

/* font-size used to be 3.5rem but it didnt respond well on phone - not sure where root element was it was relative to */
.scrap-h1 {
  margin: 0;
  font-size: 3.5vw;
}

.scrap-h2 {
  margin: 0;
  font-size: 2.5vw;
}

.scrap-fig {
  margin: 0;
}

.scrap-p {
  margin: 0;
  color: #333;
  padding: 1.8rem;
  background-color: aliceBlue;
  box-shadow: -0.035rem 0.03rem 0.3rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
}

.scrap-img {
  object-fit: cover;
  max-width: 100%;
  height: 50vw;
  display: block;
}

.scrap-img-for-slider {
  max-width: 100vw;
  max-height: 70vh;
  display: block;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

/* font-size used to be 1.5rem but it didnt respond well on phone - not sure where root element was it was relative to */
.scrap-grid {
  font-family: "Schoolbell", cursive;
  font-size: 2vw;
  margin: 0;
  --verticalPadding: 2vw;
  --overlap: 3vw;
  display: grid;
  /* 6/5 grid from my compound grid generator: https://codepen.io/michellebarker/full/zYOMYWv */
  grid-template-columns: 5fr 1fr 4fr 2fr 3fr 3fr 2fr 4fr 1fr 5fr;
  grid-auto-rows: minmax(var(--verticalPadding), auto);
  gap: 2vw;
  max-width: 98vw;
  margin: 2% 2% 2% 2%;
  align-items: center;
  /*background: left top / 40rem no-repeat url(https://khpublicbucket.s3-eu-west-1.amazonaws.com/Common/overlays/scrapbook_overlay6.png), right bottom / 40rem no-repeat url(https://khpublicbucket.s3-eu-west-1.amazonaws.com/Common/overlays/scrapbook_overlay1.png);*/
  /* 
  https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/paint-splatter-1.svg
  https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/paint-splatter-2.svg
  https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/paint-splatter-3.svg
  */
}
.scrap-grid::before, .scrap-grid::after {
  content: "";
  display: block;
}
.scrap-grid::before {
  /*background: left center / 20rem no-repeat url(https://khpublicbucket.s3-eu-west-1.amazonaws.com/Common/overlays/scrapbook_overlay5.png);*/
  grid-column: 3/-3;
  grid-row: 9/span 4;
  max-width: 100%;
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 2;
}

/* this works: background: left center / 20rem no-repeat url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/paint-splatter-3.svg), right bottom / 40rem no-repeat url(./decoration/scrapbook_paper1.gif); */
header {
  grid-column: 1/-2;
  grid-row: header;
  padding: 1rem;
  box-shadow: -0.035rem 0.03rem 0.3rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  background-color: aliceBlue;
}

/* Aspect ratio – https://css-tricks.com/aspect-ratio-boxes/ */
[style*=aspect_ratio] {
  position: relative;
}

[style*=aspect_ratio]::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

[style*=aspect_ratio] > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

/*# sourceMappingURL=scrapbook-style.css.map */
