html {
  background-color: black;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;    
  width: 100%;
  height: auto;
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-area { 
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* https://stackoverflow.com/questions/7241341/can-i-set-an-opacity-only-to-the-background-image-of-a-div */
.main-bg { 
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;    
  width: 100%;
  height: auto;
  max-width: 100%;
  background-color: black;
  background: url(./DefaultBackground_BlackTable.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition-delay: 4s; /* Safari */  
  transition-delay: 4s;
  -webkit-transition: opacity 8s  ease-in-out; /* Safari */
  transition: opacity 8s ease-in-out;
  opacity: 1
}

.main-bg.hidden {
  opacity:0; 
  -webkit-transition-delay: 4s; /* Safari */  
  transition-delay: 4s;
  -webkit-transition: opacity 8s  ease-in-out; /* Safari */
  transition: opacity 8s ease-in-out;  
}

.App {
  text-align: left;    
}

.App-banner {  
  height: 60px;
  padding: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #555;
  height: 80px;
  padding: 2px;
  color: white;  
}

.App-title {
  float: left;
  display: block;
  padding: 2px;
  font-size: 1.5em;
}

.App-subtitle {
  padding: 0px;
  font-size: 1.0em;  
  float: right;
}

.App-button {
  border: none;
  z-index: 1;
  position:fixed;
  right: 40px;
  padding: 20px;
  background-color: Transparent;
  outline: none;
  font-size: 1.0em;
}

.App-intro {
  font-size: large;
}

.App-itemimage {  
  height: 250px;
  padding: 1px;
}

.App-itemimage-thumbnail {  
  height: 20px;
  padding: 5px;
}

.App-right-menu {
  overflow: hidden;
  float:right;
  position: absolute;
  right: 100px;
}

.vertical-timeline-element {
  background-color: "#dad4dd";
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;  
}


.hoverable-img {
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

.hoverable-img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
