* {
  box-sizing: border-box;
}

html {
  background-color: whitesmoke;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;    
  width: 100%;
  height: auto;
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-area { 
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* https://stackoverflow.com/questions/7241341/can-i-set-an-opacity-only-to-the-background-image-of-a-div */
.main-bg { 
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;    
  width: 100%;
  height: auto;  
  max-width: 100%;
  background-color: whitesmoke;
  background: url(./DefaultBackground_WhiteWood.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition-delay: 4s; /* Safari */  
  transition-delay: 4s;
  -webkit-transition: opacity 8s  ease-in-out; /* Safari */
  transition: opacity 8s ease-in-out;
  opacity: 0.7
}

.main-bg.hidden {
  opacity:0; 
  -webkit-transition-delay: 4s; /* Safari */  
  transition-delay: 4s;
  -webkit-transition: opacity 8s  ease-in-out; /* Safari */
  transition: opacity 8s ease-in-out;  
}

.App {
  text-align: left;    
}

.App-banner {  
  height: 60px;
  padding: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #white;
  height: 80px;
  padding: 2px;
  color: #555;  
}

.App-title {
  float: left;
  display: block;
  padding: 2px;
  font-size: 1.5vw;
}

.App-subtitle {
  padding: 0px;
  font-size: 1.0vw;  
  float: right;
}

.App-button {
  border: none;
  z-index: 1;
  position:fixed;
  right: 40px;
  padding: 20px;
  background-color: Transparent;
  outline: none;
  font-size: 1.0vw;
}

.App-intro {
  font-size: large;
}

.App-itemimage {  
  height: 250px;
  padding: 1px;
}

.App-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
/*   margin: 0 -5px; */
.row {
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.App-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


.App-card-title {
  color: grey;
  font-size: 18px;
}

.App-card-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(68, 106, 138);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

.App-card-a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.App-card-button:hover, a:hover {
  opacity: 0.7;
}

.App-card-thumbnail {  
  height: 150px;
  padding: 5px;
}

.App-itemimage-thumbnail {  
  height: 20px;
  padding: 5px;
}

.App-right-menu {
  overflow: hidden;
  float:right;
  position: absolute;
  right: 100px;
}

.vertical-timeline-element {
  background-color: "#dad4dd";
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;  
}


.hoverable-img {
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

.hoverable-img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
