html { 
  background: url(./Fashion.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: left;
}

.App-banner {  
  height: 60px;
  padding: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #555;
  height: 80px;
  padding: 2px;
  color: white;  
}

.App-title {
  float: left;
  display: block;
  padding: 2px;
  font-size: 1.5em;
}

.App-subtitle {
  padding: 0px;
  font-size: 1.0em;  
  float: right
}

.App-button {
  border: none;
  position:fixed;
  right: 40px;
  padding: 20px;
  background-color: Transparent;
  outline: none;
  font-size: 1.0em
}

.App-intro {
  font-size: large;
}

.App-itemimage {  
  height: 200px;
  padding: 10px;
}

.App-itemimage-thumbnail {  
  height: 20px;
  padding: 5px;
}

.App-right-menu {
  overflow: hidden;
  float:right;
  position: absolute;
  right: 100px
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
